# =========================
# 1. The Build Output (Generated Data)
# =========================
public/compiled/

# =========================
# 2. Rust & Compiler (Cargo)
# =========================
compiler/target/

# =========================
# 3. Frontend & Node (Future-proofing)
# =========================
node_modules/
npm-debug.log
yarn-error.log

# =========================
# 4. OS & Editor Junk
# =========================
*.swp
*.swo
*~
.env
.env.public

.vscode/

.DS_Store
Thumbs.db

# =========================
# 5. Local Typst Compilation (and debug images)
# =========================
*.pdf
*.png
*.svg

math/demo/
*.db
*.sqlite
